
@{ ViewBag.Title = "Index"; }


<div class="container mt-2">
    <div class="row dir-block">
        <div class="d-flex align-items-center mx-sm-3 mx-5 w-100 fs-sm">
            <div class="d-flex align-items-center">
                <a href="">首頁</a>
                <span>/</span>
            </div>

            <div class="d-flex align-items-center">
                <a href="">快樂營區</a>
                <span>/</span>
            </div>

            <div class="d-flex align-items-center">
                <a href="">123</a>
            </div>
        </div>
    </div>

    <div class="row mt-4 mb-3">
        <div class="mx-sm-3 mx-5 w-100 fs-sm title-block">
            <p class="font-weight-bold fs-lg">大山背小曠野營地</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center star-container mr-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <a href="" class="link">顯示評論</a>
                </div>

                <div class="d-flex align-items-center">
                    <div class="mr-2">
                        <i class="far fa-heart c-red"></i>
                    </div>
                    <div class="mr-2">
                        <i class="fas fa-share-alt"></i>
                    </div>
                    <a href="#" class="button">預訂</a>
                </div>
            </div>

            <div class="d-flex align-items-center">
                <p class="mr-2 fs-sm">新竹縣橫山鄉豐鄉村大山背5鄰52號</p>

                <a href="" class="link">
                    <i class="fas fa-map-marker-alt c-red fs-md"></i>
                    在地圖上顯示
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="d-flex justify-content-center align-items-center elevator-container mx-sm-3 mx-5 w-100 fs-sm">
            <a href="#information-block" class="elevator mr-1">
                <p>資訊&營地類型</p>
            </a>
            <a href="#service-block" class="elevator mr-1">
                <p>設施</p>
            </a>
            <a href="#note-block" class="elevator mr-1">
                <p>營區須知</p>
            </a>
            <a href="#alert-block" class="elevator mr-1">
                <p>注意事項</p>
            </a>
            <a href="#review-block" class="elevator">
                <p>顧客評論</p>
            </a>
        </div>
    </div>

    <div class="d-flex align-items-center mt-3 ">
        <div class="col-2"></div>
        <img class="col-8 " src="https://picsum.photos/300/200" alt="" />
    </div>
    <div class=" my-3 d-flex justify-content-around ">
        <div class="col-"></div>
        <div class="col-2">
            <img src="https://picsum.photos/300/200" alt="" class="w-75 " />
        </div>
        <div class="col-2">
            <img src="https://picsum.photos/300/200" alt="" class="w-75" />
        </div>
        <div class="col-2">
            <img src="https://picsum.photos/300/200" alt="" class="w-75" />
        </div>
        <div class="col-2">
            <img src="https://picsum.photos/300/200" alt="" class="w-75" />
        </div>
    </div>



    <div class="row">
        <div class="d-flex justify-content-star align-items-center flex-wrap bubble-container mx-sm-3 mx-5 w-100">
            <div class="bubble">bubble1</div>
            <div class="bubble">bubble2</div>
            <div class="bubble">bubble3</div>
            <div class="bubble">bubble4</div>
            <div class="bubble">bubble5</div>
            <div class="bubble">bubble6</div>
            <div class="bubble">bubble7</div>
            <div class="bubble">bubble8</div>
            <div class="bubble">bubble9</div>
            <div class="bubble">bubble10</div>
            <div class="bubble">bubble10</div>
            <div class="bubble">bubble10</div>
            <div class="bubble">bubble10</div>
        </div>
    </div>

    <div class="row information-block" id="information-block">
        <div class="mx-sm-3 mx-5 w-100">
            <p class="block-header">營區資訊</p>
            <div class="d-md-flex w-100 fs-md information-main-block">
                <div class="col-12 col-md-4 pl-0">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-mountain"></i>
                        <p>海拔：</p>
                        <span>560公尺</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="far fa-calendar-check"></i>
                        <p>營業時間：</p>
                        <span>僅假日</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-campground"></i>
                        <p>租賃裝備：</p>
                        <span>有此項服務</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-mountain"></i>
                        <p>海拔：</p>
                        <span>560公尺</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="far fa-calendar-check"></i>
                        <p>營業時間：</p>
                        <span>僅假日</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-campground"></i>
                        <p>租賃裝備：</p>
                        <span>有此項服務</span>
                    </div>
                </div>

                <div class="col-12 col-md-4 pl-0">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-mountain"></i>
                        <p>海拔：</p>
                        <span>560公尺</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="far fa-calendar-check"></i>
                        <p>營業時間：</p>
                        <span>僅假日</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-campground"></i>
                        <p>租賃裝備：</p>
                        <span>有此項服務</span>
                    </div>
                </div>

                <div class="col-12 col-md-4 pl-0">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-mountain"></i>
                        <p>海拔：</p>
                        <span>560公尺</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="far fa-calendar-check"></i>
                        <p>營業時間：</p>
                        <span>僅假日</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-campground"></i>
                        <p>租賃裝備：</p>
                        <span>有此項服務</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="mx-3 w-100 d-flex flex-column">
            <p class="block-header">空房情況</p>
            <div class="d-flex justify-content-center po-rel fs-md mb-3">
                <div class="d-flex align-items-center mr-3">
                    <p class="mr-3">入營日期</p>
                    <input type="date" class="fs-sm" />
                </div>
                <div class="d-flex align-items-center">
                    <p class="mr-3">退營日期</p>
                    <input type="date" class="fs-sm" />
                </div>
                <div class="d-flex align-items-center po-abs">
                    <p class="button">搜尋</p>
                </div>
            </div>
            <!-- 月曆 -->
            <div class="calender"></div>
        </div>
    </div>

    <div class="row camp-type-container">
        <div class="mx-3 w-100 d-flex">
            <table class="col-10">
                <tr class="fs-md camp-type-head">
                    <th>營地名稱</th>
                    <th>類型</th>
                    <th>適合人數</th>
                    <th>今日價格</th>
                    <th>選擇數量</th>
                    <th></th>
                </tr>
                <tr class="fs-sm">
                    <td>A區</td>
                    <td>草地</td>
                    <td>4人</td>
                    <td>$1000</td>
                    <td>
                        <select name="" id="">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </td>
                </tr>
                <tr class="fs-sm">
                    <td>A區</td>
                    <td>草地</td>
                    <td>4人</td>
                    <td>$1000</td>
                    <td>
                        <select name="" id="">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </td>
                </tr>
                <tr class="fs-sm">
                    <td>A區</td>
                    <td>草地</td>
                    <td>4人</td>
                    <td>$1000</td>
                    <td>
                        <select name="" id="">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </td>
                </tr>
                <tr class="fs-sm">
                    <td>A區</td>
                    <td>草地</td>
                    <td>4人</td>
                    <td>$1000</td>
                    <td>
                        <select name="" id="">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </td>
                </tr>
            </table>

            <div class="camp-type-container-foot col-2 px-0">
                <div class="camp-type-head"></div>
                <div class="pl-2 pt-2">
                    <p class="fs-sm"><span>1</span>帳的價格為</p>
                    <p class="fs-md mb-2">TWD <span class="fs-md">1,000</span></p>
                    <div class="button w-75">馬上預定</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row service-block" id="service-block">
        <div class="mx-sm-3 mx-5 w-100">
            <p class="block-header">服務與設施</p>
            <div class="d-sm-flex d-flex flex-wrap fs-md">
                <div class="col-sm-4 col-6 pl-0">
                    <div>
                        <div class="mt-2">
                            <i class="fas fa-bath"></i>
                            <p>衛浴</p>
                        </div>
                        <div>
                            <i class="fas fa-check"></i>
                            <span>衛生紙</span>
                        </div>
                        <div>
                            <i class="fas fa-check"></i>
                            <span>廁所</span>
                        </div>
                        <div>
                            <i class="fas fa-check"></i>
                            <span>吹風機</span>
                        </div>
                        <div>
                            <i class="fas fa-check"></i>
                            <span>淋浴間</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div>
                            <i class="fas fa-bath"></i>
                            <p>衛浴</p>
                        </div>
                        <div>
                            <i class="fas fa-check"></i>
                            <span>衛生紙</span>
                        </div>
                        <div>
                            <i class="fas fa-check"></i>
                            <span>廁所</span>
                        </div>
                        <div>
                            <i class="fas fa-check"></i>
                            <span>吹風機</span>
                        </div>
                        <div>
                            <i class="fas fa-check"></i>
                            <span>淋浴間</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-6 pl-0">
                    <div class="mt-2">
                        <div>
                            <i class="fas fa-bath"></i>
                            <p>衛浴</p>
                        </div>
                        <div>
                            <i class="fas fa-check"></i>
                            <span>衛生紙</span>
                        </div>
                        <div>
                            <i class="fas fa-check"></i>
                            <span>廁所</span>
                        </div>
                        <div>
                            <i class="fas fa-check"></i>
                            <span>吹風機</span>
                        </div>
                        <div>
                            <i class="fas fa-check"></i>
                            <span>淋浴間</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-6 pl-0">
                    <div class="mt-2">
                        <div>
                            <i class="fas fa-bath"></i>
                            <p>衛浴</p>
                        </div>
                        <div>
                            <i class="fas fa-check"></i>
                            <span>衛生紙</span>
                        </div>
                        <div>
                            <i class="fas fa-check"></i>
                            <span>廁所</span>
                        </div>
                        <div>
                            <i class="fas fa-check"></i>
                            <span>吹風機</span>
                        </div>
                        <div>
                            <i class="fas fa-check"></i>
                            <span>淋浴間</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row note-block" id="note-block">
        <div class="mx-sm-3 mx-5 w-100">
            <p class="block-header">營區須知</p>
            <div class="fs-md">
                <div class="col-12 note-main-block">
                    <div class="d-flex align-items-center">
                        <i class="far fa-calendar-alt"></i>
                        <p>入營時間：</p>
                        <span>長條bar</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="far fa-calendar-times"></i>
                        <p>退營時間：</p>
                        <span>長條bar</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-dog"></i>
                        <p>寵物：</p>
                        <span>不可攜帶寵物</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row alert-block" id="alert-block">
        <div class="mx-sm-3 mx-5 w-100">
            <p class="block-header">注意事項</p>
            <div class="d-flex">
                <div class="col-12 alert-main-block">
                    <p>1.本營區為開放空間，個人安全、私人物品、財務請自行保管負責。</p>
                    <p>2.禁止歡唱卡拉 OK、打麻將、燃放鞭炮及一切違法之行為。</p>
                    <p>3.露營活動中請勿使用發電機及高耗能之大電力設備(ex：電鍋、電磁爐等)。</p>
                    <p>4.如需要烤肉請自備高架炊具。</p>
                    <p>5.夜間 10 點後，動作及談話請保持輕聲、細語。</p>
                    <p>6.攜帶寵物，請注意清潔，加鍊綁著或放置外出籠中，需事先告知營主或於訂單備註。</p>
                    <p>7.園區中設施請遵守指示牌規定，如有損毀本露營場之設備，須照價賠償。</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row review-block" id="review-block">
        <div class="mx-sm-3 mx-5 w-100">
            <p class="block-header">顧客評價</p>
            <div class="d-flex review-head-block">
                <div class="col-3 d-flex align-items-center justify-content-center">
                    <div class="fs-md text-center font-weight-bold">總評價</div>
                </div>
                <div class="col-9 d-flex align-items-center justify-content-center">
                    <div class="d-flex align-items-center star-container">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div>
                        <p>　平均<span>5</span>顆星　</p>
                    </div>
                    <div>
                        <p>總共<span>100</span>則評論</p>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column review-main-block fs-sm">
                <div>王小明</div>
                <div class="d-flex star-container">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div>
                    <p class="text-indent">
                        幻想一面浙江有什麼不代表位置信用傳輸原則指定開始提問一張，人大擁有，重點大家都笑着醫生四周共有如下免費版，詳。
                    </p>
                </div>
                <div class="d-flex justify-content-end">
                    <p class="mr-2">入營時間：<span>2022/1/14</span></p>
                    <p>評價時間：<span>2022/1/20</span></p>
                </div>
            </div>
            <div class="d-flex flex-column review-main-block fs-sm">
                <div>王小明</div>
                <div class="d-flex star-container">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div>
                    <p class="text-indent">
                        幻想一面浙江有什麼不代表位置信用傳輸原則指定開始提問一張，人大擁有，重點大家都笑着醫生四周共有如下免費版，詳。
                    </p>
                </div>
                <div class="d-flex justify-content-end">
                    <p class="mr-2">入營時間：<span>2022/1/14</span></p>
                    <p>評價時間：<span>2022/1/20</span></p>
                </div>
            </div>
            <a href="" class="button">查看所有評論</a>
        </div>
    </div>
</div>

